.titulo__ascenso {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 3rem;
    margin-top: 200px;
    text-shadow: 3px 3px grey;

}

.titulob {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 3px 3px grey;

}

.titulob__metro {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 3px 3px grey;

}


.titulo__federal {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 3px 3px grey;

}