
.tituloarg {
    display: flex;
    margin-top: 250px;
    font-size: 3rem;
    color: $color-blanco;
    text-shadow: 3px 3px $color-gris;
    justify-content: center;


}

.tablas__primera {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}