.futbol__argentino:hover{
    background-color:$color-gris(190, 185, 185);
    transform: scale(1.1)
}

.ascenso__argentino:hover{
    background-color:$color-gris(190, 185, 185);
    transform: scale(1.1)

}

.futbol__internacional:hover{
    background-color: $color-gris(190, 185, 185);
    transform: scale(1.1)
}

.noticia1:hover{
    transform: scale(1.1)
}

.noticia2:hover{
    transform: scale(1.1)
}

.noticia3:hover{
    transform: scale(1.1)
}

.noticia4:hover {
    transform: scale(1.1)
}