

.tabla__primera {
    display: flex;
    width: 400px;
    box-shadow: 5px 5px $color-gris;

}

.tabla__anual {
    display: flex;
    box-shadow: 5px 5px $color-gris;
}

.tabla__goleadores {
    display: flex;
    box-shadow: 5px 5px $color-gris;
    height: 400px;
}


.tablaimgb {
    width: 400px;
    box-shadow: 3px 3px $color-gris;
}


.tablaimgb__metro {
    box-shadow: 3px 3px $color-gris;

}

.tablaimg__federal {
    box-shadow: 3px 3px $color-gris;

}
