* {
    margin: 0;
    padding: 0;

    font-family: 'Silkscreen', cursive;
    ;
    font-size: 16px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-blanco;
}

body {
    background-color: $color-primario;
}

@media (max-width:780px){
    ul,
    ol {
        list-style: none;
    }
}



